# PostgreSQL
DATABASE_HOST=localhost # or postgres
DATABASE_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD='123'
POSTGRES_DB=pb19
DATABASE_URL=postgresql://admin:123@postgres:5432/pb19

REDIS_URL=redis://redis:6379
RABBITMQ_URL=amqp://ticketing:ticketing@rabbitmq:5672

JWT_SECRET=ma_bi_mat_cua_ban

VNPAY_TMN_CODE=6IU5D5GL
VNPAY_SECURE_SECRET=RDCWARZAEMLVXOIDDNVJUDWEZJZCEYFQ

#            TEST
# Ngân hàng thanh toán: NCB (NCB)
# Số thẻ: 9704198526191432198
# Tên chủ thẻ: NGUYEN VAN AN
# Ngày phát hành: 07/15
# Mật khẩu OTP: 123456

# login lấy access token mới, và lấy id từ database
K6_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJlMTg1MjI3MC0yNDgyLTQzNmItOWYwOC04NWNhY2I5NWNhZmQiLCJlbWFpbCI6InRpZW5AZ21haWwuY29tIiwiaWF0IjoxNzg3NDY0Njc1LCJleHAiOjE3ODc0NjU1NzV9.QnsJUJTuHYII-4ONLybMmbEqufvvQ4QKLH_gHSVAYOQ
K6_EVENT_ID=87563dad-8f35-4e23-bb64-29b5ec5802cd
K6_TICKET_TIER_ID=65006bf5-9891-4f50-9864-7a3a05bf0e7c